
.centrado2{
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}

form {
  /* Centrar el formulario en la página */
  margin: 0 auto;
  width: 800px;
  /* Esquema del formulario */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Tamaño y alineación uniforme */
  display: inline-block;
  width: auto;
  text-align: right;
}

input,
textarea {
  /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
  Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
  font: 1em sans-serif;

  /* Tamaño uniforme del campo de texto */
  width: 300px;
  box-sizing: border-box;

  /* Hacer coincidir los bordes del campo del formulario */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Destacado adicional para elementos que tienen el cursor */
  border-color: #000;
}

textarea {
  /* Alinear los campos de texto multilínea con sus etiquetas */
  vertical-align: top;

  /* Proporcionar espacio para escribir texto */
  height: 5em;
}

.button {
  /* Alinear los botones con los campos de texto */
  padding-left: 90px; /* mismo tamaño que los elementos de la etiqueta */
}

button {
  /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
  entre las etiquetas y sus campos de texto */
  margin-left: .5em;
}

/*Carrucel*/
#carrusel {
  float:center;
  width:600px;
  overflow:hidden;
  height:203px;
  position:relative;
  margin-top:20px;
  margin-bottom:20px;
}

#carrusel .left-arrow {
  position:absolute;
  left:10px;
  z-index:1;
  top:50%;
  margin-top:-9px;
}

#carrusel .right-arrow {
  position:absolute;
  right:10px;
  z-index:1;
  top:50%;
  margin-top:-9px;
}

.carrusel {
  width:4000px;
  left:0px;
  position:absolute;
  z-index:0;
  box-align: center;
}

.carrusel>div {
  float: left;
  height: 203px;
  margin-right: 5px;
  width: 195px;
  text-align:center;
}

.carrusel img {
  cursor:pointer;
}

.product {
  border:#CCCCCC 1px solid;
}